#g{
    color:rgb(43, 164, 235);
    font-size: 150px;
    font-family:"lucida fax"
}
#o{
    color:red;
    font-size:150px;
    font-family:"lucida fax"
}
#k{
    color:rgb(247, 194, 49);
    font-size:150px;
    font-family:"lucida fax"
}
#l{
    color:rgb(43, 155, 230);
    font-size:150px;
    font-family:"lucida fax"
}
#T{
    color:green;
    font-size:150px;
    font-family:"lucida fax"
}
#e{
    color:red;
    font-size:150px;
    font-family:'lucida fax'

}